
.sidebar {
    &-wrapper {
        display: flex;
        background: $fg-1;

        box-shadow: 3px 5px 10px rgba(23, 26, 30, 0.3);

        padding: 10px;

        a {
            margin-right: 10px;
        }

        .router-link-active {
            background: $fg-2;
            color: $white;
        }
    }

    &-btn {
        @extend .app-btn-link;

        text-align: center;

        background: $white;
        border-radius: 5px;
        color: $fg-1;
        padding: 2px 10px;

        box-shadow: 0 4px 5px rgba(23, 26, 30, 0.3);

        font-size: 18px;
    }

    &-btn:hover {
        background: $fg-2;
        color: $white;
    }
}
