@use 'responsive' as *;

@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import "./app/header";
@import "./app/app";
@import "./app/button";
@import "./app/modal";
@import "./app/field";
@import "./app/filter";
@import "./app/cart";
@import "./app/checkout";
@import "./app/orders";
@import "./app/expansion-panel";

@import "./account/sidebar";
@import "./account/account";

@import "./product/product";
@import "./product/product-detail";


html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}
