@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import "./app/header";
@import "./app/app";
@import "./app/button";
@import "./app/modal";
@import "./app/field";

@import "./account/sidebar";
@import "./account/account";

html {
    width: 100vw;
}

body {
    width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}
