@use "@style/responsive" as *;

.product {
    &-wrapper {
        display: grid;
        width: 100%;


        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            padding: 20px 20px;

            .product-card:nth-of-type(3n+3) {
                border-right: none;
            }

            .product-card:nth-of-type(3n+1) {
                border-left: none;
            }

            .product-card:nth-child(-n+3) {
                border-top: none;
            }

            .product-card:nth-last-child(-n+3) {
                border-bottom: none;
            }
        }

        @include desktop {
            grid-template-columns: repeat(5, 1fr);
            padding: 20px 40px;

            .product-card:nth-of-type(5n+5) {
                border-right: none;
            }

            .product-card:nth-of-type(5n+1) {
                border-left: none;
            }

            .product-card:nth-child(-n+5) {
                border-top: none;
            }

            .product-card:nth-last-child(-n+5) {
                border-bottom: none;
            }
        }

        @include mobile {

            grid-template-columns: repeat(3, 1fr);
            padding: 20px 20px;

            .product-card:nth-of-type(3n+3) {
                border-right: none;
            }

            .product-card:nth-of-type(3n+1) {
                border-left: none;
            }

            .product-card:nth-child(-n+3) {
                border-top: none;
            }

            .product-card:nth-last-child(-n+3) {
                border-bottom: none;
            }

            .product-card {
                .card-image {
                    width: 80px;
                    height: 120px;
                }
            }
        }
    }

    &-card {
        border: 2px solid $fg-1-hover;

        .card {
            &-wrapper {
                position: relative;
                height: 100%;
                padding: 14px;
            }

            &-image {
                display: block;
                height: 180px;
                width: 180px;
                cursor: pointer;
                border-radius: 5px;
                object-fit: contain;
            }

            &-image--grey {
                @extend .card-image;
                background: grey;
            }

            &-name {
                display: block;
                height: 60px;
                overflow: hidden;
                text-decoration: none;
                cursor: pointer;
                color: black;
            }

            &-price {
                display: block;
                height: 30px;
                overflow: hidden;
                color: $fg-1;
            }
        }
    }

}

.pagination-wrapper {
    margin: 30px 10px 50px 15px;

    @include mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        * {
            width: 35px;
            height: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
