
.app {
    &-wrapper {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: $head-bg;
        position: relative;

        box-shadow: 0 4px 5px rgba(23, 26, 30, 0.3);

        padding: 5px 10px;

        border: 1px solid $fg-1;
    }

    &-main {
        width: 100%;

        display: flex;
        flex-direction: row;

        background: $bg-1;

        .content-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.error-message {
    color: red;
    white-space: pre-line;
}

.empty-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    color: $fg-3;

    img {
        width: 80px;
        height: 100px;
        filter: $fg-3_filter;
    }
}
