
.app {
    &-wrapper {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: $head-bg;
        position: relative;

        box-shadow: 0 4px 5px rgba(23, 26, 30, 0.3);

        padding: 5px 10px;

        border: 1px solid $fg-1;
    }

    &-main {
        width: 100%;

        display: flex;
        flex-direction: row;

        background: $bg-1;
    }
}

.error-message {
    color: red;
    white-space: pre-line;
}
