
.app {
    display: flex;
    justify-content: center;

    &-layout {
        width: 100vw;
        height: 100vh;

        position: relative;

        background: $body-bg;
    }

   &-wrapper {
       padding: 25px 0;

       width: 75%;
   }
}
