
.app-btn {
    padding: 8px;
    text-decoration: none;

    border: 1px solid $fg-1;
    border-radius: 5px;

    color: $white;
    background: $fg-1;

    user-select: none;
    cursor: pointer;
}

.app-btn:hover {
    background: $fg-1_hover;
    color: $fg-1;
    border: 1px solid $fg-1;
}

.app-btn-link {
    color: $text;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.app-btn-link:hover {
    color: $fg-1;
}

.app-btn-link--right {
    color: $text;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    align-self: end;
}

.app-btn-link--right:hover {
    color: $fg-1;
}
