
.app-btn {
    padding: 8px;
    text-decoration: none;

    border: 1px solid $fg-1;
    border-radius: 5px;

    color: $white;
    background: $fg-1;

    user-select: none;
    cursor: pointer;
}

.app-btn:hover {
    background: $fg-1_hover;
    color: $fg-1;
    border: 1px solid $fg-1;
}
