
.modal {
    &-backdrop {
        top: 0;
        left: 0;

        background-color: rgba(0, 0, 0, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-wrapper {
        background: $body-bg;

        box-shadow: 2px 2px 20px 1px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;;

        overflow: hidden;
        padding: 15px;

        border: 2px solid $fg-1;

        min-width: 400px;
        min-height: 400px;
    }

    &-body {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .modal-login-auth {
            .login-confirm {
                margin-top: 15px;
                width: 100%;
            }
        }

        .modal-register-confirm {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        .modal-login-oauth {
            border-top: 1px solid $fg-1;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;

            .oauth-divider {
                position: absolute;
                left: 42%;
                top: -14px;
                background: $fg-1-hover;
                color: $fg-1;
                padding: 0 20px;
                border-radius: 5px;
                border: 1px solid $fg-1;
            }

            .google-confirm {
                margin-top: 20px;
                width: 100%;
            }
        }

        .modal-login-action {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 8px;
        }



        .modal-register-margin {
            margin-top: 10px;
        }
    }

    &-header {
        border-bottom: 1px solid $fg-1;
        justify-content: space-between;
    }

    &-footer {
        border-top: 1px solid $fg-1;
        padding: 1.4em;
    }

    &-close {
        background: transparent;
        border: none;
    }

    &-fade-enter-active, &-fade-leave-active {
        transition: opacity .3s ease;
    }

    &-fade-enter-from, &-fade-leave-to {
        opacity: 0;
    }
}

.modal-footer-register {
    padding: 0 !important;
}
